{{~setVar "Q" "\""~}}
{{~setVar "voInstanceName" (concat classNameFirstCharLower "VO")~}}
{{~setVar "listPath" (concat "/" classNameFirstCharLower "/" className "List.do")~}}
{{~setVar "addViewPath" (concat "/" classNameFirstCharLower "/add" className "View.do")~}}
{{~setVar "updateViewPath" (concat "/" classNameFirstCharLower "/update" className "View.do")~}}
{{~setVar "addPath" (concat "/" classNameFirstCharLower "/add" className ".do")~}}
{{~setVar "selectPath" (concat "/" classNameFirstCharLower "/select" className ".do")~}}
{{~setVar "updatePath" (concat "/" classNameFirstCharLower "/update" className ".do")~}}
{{~setVar "deletePath" (concat "/" classNameFirstCharLower "/delete" className ".do")~}}
{{~setVar "listPageName" (concat className "List.html")~}}
{{~setVar "registerPageName" (concat className "Register.html")~}}
{{~setVar "selectFunctionName" (concat "fncSelect" className)~}}
{{~setVar "addViewFunctionName" (concat "fncAdd" className "View")~}}
{{~setVar "functionNameList" (concat classNameFirstCharLower "List")~}}
{{~setVar "functionNameAdd" (concat classNameFirstCharLower "Add")~}}
{{~setVar "functionNameUpdate" (concat classNameFirstCharLower "Update")~}}
{{~setVar "functionNameDelete" (concat classNameFirstCharLower "Delete")~}}
{{~setVar "functionNameReset" (concat classNameFirstCharLower "Reset")~}}

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="registerFlag=${#strings.isEmpty({{voInstanceName}}.{{#if pkAttributes.length}}{{pkAttributes.[0].ccName}}{{else}}{{attributes.[0].ccName}}{{/if}})} ? 'create' : 'modify'">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<title th:text="|{{className}} ${registerFlag == 'create' ? '등록' : '수정'}|"></title>
	<link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
	<link type="text/css" rel="stylesheet" th:href="@{/css/egovframework/sample.css}"/>
	<script type="text/javascript" th:src="@{/js/egovframework/jquery-3.6.1.min.js}"></script>
	
	<script th:inline="javascript">
		document.addEventListener('keydown', function(event) {
			if (event.keyCode === 13) {
				event.preventDefault();
			};
		}, true);

		var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';
		
		function {{functionNameList}}() {
			$(location).attr('href', contextPath + '{{listPath}}');
		}

		function {{functionNameDelete}}() {
			if (confirm('Are you sure you want to delete?')) {
				$('#detailForm').attr('method', 'post').attr('action', contextPath + '{{deletePath}}').submit();
			}
		}

		function {{functionNameAdd}}() {
			if (confirm('Are you sure you want to register?')) {
				$('#detailForm').attr('method', 'post').attr('action', contextPath + '{{addPath}}').submit();
			}
		}

		function {{functionNameUpdate}}() {
			if (confirm('Are you sure you want to modify?')) {
				$('#detailForm').attr('method', 'post').attr('action', contextPath + '{{updatePath}}').submit();
			}
		}

		function {{functionNameReset}}() {
			$('form').each(function() {
				this.reset();
			});
		}
	</script>

</head>

<body style="text-align:center; margin:0 auto; display:inline; padding-top:100px;">

<div id="content_pop">

	<!-- Title -->
	<div id="title">
		<ul>
			<li>
				<img th:src="@{/images/egovframework/example/title_dot.gif}"/>
				<span th:text="${registerFlag == 'create' ? '등록' : '수정'}"></span>
			</li>
		</ul>
	</div>

	<form id="detailForm" th:object="{{concat "${" voInstanceName "}"}}">

		<!-- Detail -->
		<div id="table">
			<table th:width="680px" th:border="1" th:cellpadding="0" th:cellspacing="0" style="bordercolor:#D3E2EC; bordercolordark:#FFFFFF; BORDER-TOP:#C2D0DB 2px solid; BORDER-LEFT:#ffffff 1px solid; BORDER-RIGHT:#ffffff 1px solid; BORDER-BOTTOM:#C2D0DB 1px solid; border-collapse: collapse;">
				<colgroup>
					<col width="150px"/>
					<col width="530px"/>
				</colgroup>
				
				{{!-- 모든 컬럼을 동일한 방식으로 처리 --}}
        {{#each attributes}}
        <tr>
          <td class="tbtd_caption">
            <label for="{{ccName}}"><span>{{pcName}}{{#unless ../pkAttributes.length}}{{#if @first}}(egovframe-Warning: PK 컬럼 역할 수행){{/if}}{{/unless}}</span></label>
          </td>
          <td class="tbtd_content">
            {{#if isPrimaryKey}}
            <!-- PK 컬럼: 수정 모드에서는 readonly -->
            <th:block th:if="${registerFlag == 'modify'}">
              <input type="text" th:field="{{concat "*{" ccName "}"}}" readonly="readonly" class="essentiality" />
            </th:block>
            <!-- PK 컬럼: 등록 모드에서는 입력란 없음 -->
            {{!-- 등록 모드에서는 PK 컬럼 입력란 렌더링 삭제 처리 --}}
            {{!--
            <th:block th:if="${registerFlag == 'create'}">
              <input type="text" th:field="{{concat "*{" ccName "}"}}" class="essentiality" />
            </th:block>
            --}}
            {{else}}
            <!-- 일반 컬럼: 항상 수정 가능 -->
            <input type="text" th:field="{{concat "*{" ccName "}"}}" class="txt" />
            <!-- egovframe-Todo: Validator 적용시 아래 주석 코드 참고 -->
            <!-- <span th:if="${#fields.hasErrors('{{ccName}}')}" th:errors="*{{{ccName}}}">{{pcName}} Error</span> -->
            {{/if}}
        
          </td>
        </tr>
        {{/each}}
			</table>
		</div>

		<!-- Update / Delete / List -->
		<div id="sysbtn">
			<ul>
				<!-- 목록 버튼 -->
				<li>
					<span class="btn_blue_l">
					<span th:text="목록" th:onclick="{{functionNameList}}()"></span>
					<img th:src="@{/images/egovframework/example/btn_bg_r.gif}" style="margin-left:6px;" th:alt="목록"/></span>
				</li>
				<!-- 등록 버튼 (등록 모드에서만 표시) -->
				<li th:if="${registerFlag == 'create'}">
					<span class="btn_blue_l">
					<span th:text="등록" th:onclick="{{functionNameAdd}}()"></span>
					<img th:src="@{/images/egovframework/example/btn_bg_r.gif}" style="margin-left:6px;" th:alt="등록"/></span>
				</li>
				<!-- 수정 버튼 (수정 모드에서만 표시) -->
				<li th:if="${registerFlag == 'modify'}">
					<span class="btn_blue_l">
					<span th:text="수정" th:onclick="{{functionNameUpdate}}()"></span>
					<img th:src="@{/images/egovframework/example/btn_bg_r.gif}" style="margin-left:6px;" th:alt="수정"/></span>
				</li>
				<!-- 삭제 버튼 (수정 모드에서만 표시) -->
				<li th:if="${registerFlag == 'modify'}">
					<span class="btn_blue_l">
					<span th:text="삭제" th:onclick="{{functionNameDelete}}()"></span>
					<img th:src="@{/images/egovframework/example/btn_bg_r.gif}" style="margin-left:6px;" th:alt="삭제"/></span>
				</li>
				<!-- 재설정 버튼 -->
				<li>
					<span class="btn_blue_l">
					<span th:text="재설정" th:onclick="{{functionNameReset}}()"></span>
					<img th:src="@{/images/egovframework/example/btn_bg_r.gif}" style="margin-left:6px;" th:alt="재설정"/></span>
				</li>
			</ul>
		</div>

		<!-- 검색조건 유지 -->
    <!-- 목적 : 등록 완료 후 다시 목록 페이지로 돌아갈 때, 이전 검색조건에 따른 페이지 위치를 유지하기 위함 -->
		<input type="hidden" name="searchCondition" th:value="${searchVO.searchCondition}"/>
		<input type="hidden" name="searchKeyword" th:value="${searchVO.searchKeyword}"/>
		<input type="hidden" name="pageIndex" th:value="${searchVO.pageIndex}"/>

	</form>

</div>

</body>

</html>
